%h1 Deltas

%table.table
  %thead
    %tr
      %th Day
      %th Name
      %th Amount
      %th Frequency
      %th Period
      %th Balance

  %tbody
    - @payments.each do |payment|
      - entry = payment.repeater.entry
      - @balance -= entry.amount if entry.amount
      %tr
        %td= entry.day
        %td= entry.name
        %td= entry.amount
        %td= payment.repeater.frequency
        %td= payment.repeater.period
        %td= @balance
