%h1 Deltas

%table.table
  %thead
    %tr
      %th Day
      %th Month
      %th Name
      %th Amount
      %th Frequency
      %th Period
      %th Balance

  %tbody
    - @payments.flatten.sort_by( &:when ).each do |payment|
      - repeater = payment.repeater
      - entry = repeater.entry
      - @balance -= entry.amount if entry.amount
      %tr
        %td= entry.day
        %td= payment.when
        %td= entry.name
        %td= entry.amount
        %td= payment.repeater.frequency
        %td= payment.repeater.period
        %td= @balance
