%h1 Deltas

%table.table
  %thead
    %tr
      %th Due Day
      %th Pay On
      %th Payee
      %th Amount
      %th Frequency
      %th Period
      %th Balance

  %tbody
    - @payments.each do |payment|
      - repeater = payment.repeater
      - bill = repeater.bill
      - @balance -= bill.amount if bill.amount
      %tr
        %td= payment.repeater.bill.due_on
        %td= payment.pay_on
        %td= payment.repeater.bill.payee
        %td= payment.repeater.bill.amount
        %td= payment.repeater.frequency
        %td= payment.repeater.period
        %td= @balance
