%h1 Listing repeaters

%table.table
  %thead
    %tr
      %th Name
      %th Amount
      %th Day
      %th Frequency
      %th Period
      %th
      %th
      %th

  %tbody
    - @repeaters.each do |repeater|
      %tr
        %td= repeater.entry.name
        %td= repeater.entry.amount
        %td= repeater.entry.day
        %td= repeater.frequency
        %td= repeater.period
        %td= link_to 'Show', repeater
        %td= link_to 'Edit', edit_repeater_path(repeater)
        %td= link_to 'Destroy', repeater, 
          :method => :delete, 
          :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Repeater', new_repeater_path
