%p#notice= notice

%p
  %b Bill:
  = @repeater.bill.payee
%p
  %b Frequency:
  = @repeater.frequency
%p
  %b Period:
  = @repeater.period

= link_to 'Edit', edit_repeater_path(@repeater)
\|
= link_to 'Back', repeaters_path
