<p id="notice"><%= notice %></p>

<p>
  <strong>Payee:</strong>
  <%= @bill.payee %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Due On:</strong>
  <%= @bill.due_on %>
</p>

<p>
  <strong>Note:</strong>
  <%= @bill.note %>
</p>

<%= link_to 'Edit', edit_bill_path( @bill ) %> |
<%= link_to 'Back', bills_path %>
