%h1 Listing payments

%table.table
  %thead
    %tr
      %th ID
      %th Payee
      %th Repeater ID
      %th Amount
      %th Due On
      %th Pay On
      %th Paid On
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.id
        %td= payment.repeater.bill.payee
        %td= payment.repeater.id
        %td= payment.amount
        %td= payment.due_on&.to_date
        %td= payment.pay_on&.to_date
        %td= payment.paid_on&.to_date
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)
        %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
